integration_artifacts/entanglement_photon_bridge/02_54_coinc_slotfix.csv filter=lfs diff=lfs merge=lfs -text
integration_artifacts/entanglement_photon_bridge/03_43_run4_afterfixingModeLocking.build.hdf5 filter=lfs diff=lfs merge=lfs -text
out/particle_specific_cytofull_A1_B2/*.csv filter=lfs diff=lfs merge=lfs -text
out/particle_specific_cytofull_A1_B2_direct/*.csv filter=lfs diff=lfs merge=lfs -text
